
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            height: 100%;
            width: 240px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 16px;
        }

            .sidebar a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                margin-top:10px;
            }

                .sidebar a:hover {
                    color: #f1f1f1;
                }

        .main {
            margin-left: 240px; /* Same as the width of the sidenav */
            padding: 0px 10px;
        }

        @@media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

                .sidebar a {
                    font-size: 18px;
                }
        }
    </style>
</head>
<body>

    <div class="sidebar">
        <a href="/Home/Index"><i class="glyphicon glyphicon-home"></i>&nbsp; Home</a>

        <a href="/Show/Index"><i class="glyphicon glyphicon-book"></i>&nbsp; Show</a>
        <a href="/Writer/Index"><i class="glyphicon glyphicon-pencil"></i>&nbsp; Writer</a>
        <a href="/Members/Index"><i class="glyphicon glyphicon-user"></i>&nbsp; Members</a>
        <a href="/Staff/Index"><i class="glyphicon glyphicon-tower"></i>&nbsp; Staff</a>
        <a href="/Reservation/GetReservation"><i class="glyphicon glyphicon-circle-arrow-right"></i>&nbsp; Reservation</a>
        <a href="/Reservation/Index"><i class="glyphicon glyphicon-dashboard"></i>&nbsp;Activity </a>
        <a href="/Activity/Index"><i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp; Cancel </a>
        <a href="/Announcement/Index"><i class="glyphicon glyphicon-volume-up"></i>&nbsp; Announcement</a>

        <a href="/Home/Weather"><i class="glyphicon glyphicon-cloud"></i>&nbsp;Weather Report</a>
        
        <a href="/Display/Index"><i class="glyphicon glyphicon-picture"></i>&nbsp; Display</a>
       
     
        <a href="/Display/Index"><i class="glyphicon glyphicon-remove-sign"></i>&nbsp; LogOut</a>

    </div>

    <div class="main">
        @RenderBody()
    </div>


</body>
</html>
